<ion-header>
  <ion-toolbar>
    <ion-title>Mensajes</ion-title>
  </ion-toolbar>
  <ion-item>
    <ion-label size="small">Notificaciones activadas</ion-label>
    <ion-toggle slot="end"></ion-toggle>
  </ion-item>
</ion-header>

<ion-content>
  <ion-item>
    <ion-avatar slot="start">
      <img alt="Silhouette of a person's head" src="assets/img/logo.jpg" />
    </ion-avatar>
    <ion-card-content>
      <p>Servicio al cliente de Michitravel</p>      
      <p>¿Cómo podemos ayudarlo son su estadía?</p>
    </ion-card-content>   
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img alt="Silhouette of a person's head" src="assets/img/v1.jpg" />
    </ion-avatar>
    <ion-card-content>
      <p>Vicentico</p>      
      <p>Deja una evaluación</p>
      <p class="p3">Visita completada</p>
    </ion-card-content>   
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img alt="Silhouette of a person's head" src="assets/img/v2.webp" />
    </ion-avatar>
    <ion-card-content>
      <p>Pantera Rosa</p>      
      <p>¿Te gustó el patio de mi casa?</p>
      <p class="p3">Visita completada</p>
    </ion-card-content>   
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img alt="Silhouette of a person's head" src="assets/img/v3.webp" />
    </ion-avatar>
    <ion-card-content>
      <p>Camarón y Pollo</p>      
      <p>Mi esclavo los espera con anvorguesa</p>
      <p class="p3">Por visitar - 11 nov</p>
    </ion-card-content>   
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img alt="Silhouette of a person's head" src="assets/img/v4.jpg" />
    </ion-avatar>
    <ion-card-content>
      <p>Popón</p>      
      <p>Podriamos hacer sopaipillas con mostaza</p>
      <p class="p3">Por visitar - 23 dic</p>
    </ion-card-content>   
  </ion-item>
</ion-content>
