<ion-header [translucent]="true">
  <ion-toolbar>
   <ion-title>Favoritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>MichiVisitas Frecuentes <ion-icon name="logo-octocat"></ion-icon></ion-card-title>
      
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="assets/img/img1.webp" />
          </ion-thumbnail>
          <ion-label>Lugares de vacaciones</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="assets/img/img5.jpg" />
          </ion-thumbnail>
          <ion-label>Malasia</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="assets/img/img6.jpg" />
          </ion-thumbnail>
          <ion-label>MichiHoteles</ion-label>
        </ion-item>
  
        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="assets/img/img7.png" />
          </ion-thumbnail>
          <ion-label>Refugio para humanos</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
