<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-searchbar animated="true" placeholder="Busca tu Michiviaje"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="Silhouette of mountains" src="assets/img/img4.jpg" />
    <ion-card-header>
      <ion-card-title>Daikichi y Fuku-Chan</ion-card-title>
      <ion-card-subtitle>Japón</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <p>Distancia: 5600 kms</p>
      <p>Fechas: 25 oct - 11 nov</p>
      <p>Precio: un whiskas</p>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="assets/img/img2.jpg" />
    <ion-card-header>
      <ion-card-title>Suki, el gatito viajero</ion-card-title>
      <ion-card-subtitle>Siberia</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <p>Distancia: de aqui a la Luna</p>
      <p>Fechas: 23 dic - a la fecha</p>
      <p>Precio: una anvorguesa</p>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <img alt="Silhouette of mountains" src="assets/img/img3.jpg" />
    <ion-card-header>
      <ion-card-title>Gandalf</ion-card-title>
      <ion-card-subtitle>Corea</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <p>Distancia: 8888 kms</p>
      <p>Fechas: 29 jun - 1 agos </p>
      <p>Precio: unos cariñitos en la panzita miau miau</p>
    </ion-card-content>
  </ion-card>

</ion-content>
